<section id='login-container'>

<div class="col-md-4"></div>

<form action="/login" method="POST" id="form-container">

<h2>Login</h2>
  <div class="col align-self-center">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="col align-self-center">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name="password" required>
  </div>
  
  {{#if message}}
  <div id="error-message">
    {{#each message}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}
  
  <div class="col align-self-center">
        <a class='google' href="/auth/google">Login With Google</a>
  </div>

  <div class="col align-self-center">
  <button type="submit" class="btn btn-warning">Login</button>
  </div>

  <div class="col align-self-center">
  <p class="account-message"> No account yet? <a href="/signup">Sign Up</a></p>
  </div>

</form>

</section>

