<section id='signup-container'>

<div class="col-md-4">.col-md-4</div>

<form action="/signup" method="POST" id="form-container">

<h2>Sign Up</h2>

  <div class="col align-self-center">
    <label for="fullName" class="form-label">Full Name</label>
    <input id="fullName" type="text" name="fullName" class="form-control">
  </div>

  <div class="col align-self-center">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>

  <div class="col align-self-center">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  {{#if errorMessage}}
  <div id="error-message">{{errorMessage}}</div>
  {{/if}}

  <div class="col align-self-center">
    <a class='google' href="/auth/google">Sign Up With Google</a>
  </div>

  <div class="col align-self-center">
  <button type="submit" class="btn btn-warning">Create an Account</button>
  </div>

  <div class="col align-self-center">
  <p class="account-message">Already have an account?<a href="/login"> Login </a></p>
  <div class="col align-self-center">

</form>

</section>