
<section id='profile-section'>
<div>
  <h1 class='profile-title'>Hello {{user.fullName}} !</h1>
</div>

<div id='intro-text'>
  <br>
  <p>Welcome to your video mixtapes library. Here you can create, edit and stored themed playlists with all your favourite videos from both Vimeo and YouTube. Make special playlists to project at parties, work out playlists to keep you fit at home, or... perhaps you are learning a new skill? Grab those online tutorials and safe them to your VMTA. Ready? Video, Link, Action!</p>
</div>
  
<div id='profile-links-container'>
  <a href="/my-playlists/">My Playlists</a>
  <a href="/create-playlist">Create New Playlist</a>
</div>
  
  
</section>
